@media (max-width: 900px){
    .block{
        height: 900px;
    }
    .header__columns{
        display: block
    }
    .header__left{
        padding-left: 100px;
    }
    .logo{
        margin-top: 0;
    }
    
    .item1{
        width: 800px;
        height: 900px;
    }
    .item2{
        width: 800px;
    }
    .services{
        width: 800px;
    }
    .services__items{
        flex-direction: column;
    }
    .services__menu{
        display: flex;
        justify-content: center;
    }
    .sales__container{
        width: 800px;
    }
    .sales__container-top, .sales__container-bottom{
        width: 400px;
        display: table;
        padding-left: 100px;
    }
    .salesimg2{
        padding-top: 10px;
        padding-right: 7px;
        
    }
    .test{
        height: 1300px;
        width: 800px;
    }
    .test__box{
        background-color: #333333;
        width: 800px;
    }
    .testimg{
        width: 800px;
        
    }
    .revievs__container{
        flex-direction: column;
        padding-left: 150px;
    }
    .revievs__container-right{
        margin: 15px 0;
    }
    .container__item1{
        
    }
    .work{
        width: 800px;
    }
    .work__columns{
        flex-direction: column;
        padding-left: 150px;
        height: 150px;
    }
    .work__columns-right{
        padding-top: 20px;
    }
    .work__text{
        margin-left: 180px;
    }
    .discount__right{
        transform: translate(-250px, -100px);
    }
    .about__columns{
        width: 800px;
        flex-direction: column;
        padding-left: 150px;
    }
    .footer__contant{
        width: 800px;
    }
    .footer__contacts{
        transform: translate(-100px, 0px);
        width: 400px;
    }
    .footer__telegram{
        padding-right: 100px;
    }
    .reviev__btn-position{
        margin-top: 1220px;
    }
    .form-container1{
        padding-top: 670px;
    }
    .form-container{
        width: 800px;
    }
}

/*@media (max-width: 420px){
    
    .header__columns{
        display: block;
        
    }
    .header__left{
     text-align: center;
    }
    .logo{
        margin-top: 0;
    }
    
    .item1{
        width: 400px;
        height: 900px;
    }
    .item2{
        width: 400px;
    }
    .veip{
        width: 350px;
    }
    .header__title{
        width: 300px;
        padding-right: 30px;
    }
    .header__text{
        width: 300px;
        height: 100px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    .services{
        width: 400px;
        height: auto;
        padding-bottom: 20px;
    }
    .services__items{
        flex-direction: column;
    }
    .services__menu{
        display: flex;
        flex-direction: column;
    }
    .sales__container{
        width: 400px;
    }
    .sales__container-top, .sales__container-bottom{
        
        display: table;
        padding-left: 0px;
        
    }
    .salesimg1{
        width: 80%;
    }
    .salesimg2{
        width: 40%;
    }
    .test{
        width: 400px;
        height: 1400px;
    }
    .test__box{
        background-color: #333333;
        width: 400px;
    }
    .testimg{
        width: 400px;
        
    }
    .revievs__container{
        width: 300px;
        flex-direction: column;
        padding-left: 10px;
    }
    .container__item1{
        width: 160%;
    }
    .container__item2{
        width: 160%;
        margin-bottom: 10px;
    }
    .revievs__container-right{
        width: 155%;
        height: 100%;
        margin-left: 10px;
    }
    .work{
        width: 400px;
        
    }
    .work__container{
        width: 400px;
        overflow: hidden;
    }
    .work__columns{
        flex-direction: column;
        max-width: 400px;
        padding-left: 0;
    }
    .work__columns-right{
        padding-top: 20px;
    }
    .work__text{
        margin-left: 10px;
        width: 380px;
    }
    .discount__columns{
        width: 400px;
    }
    .discount__right{
        
        transform: translate(-430px, -200px);
    }
    .discount__title{
        width: 380px;
    }
    .about__columns{
        width: 400px;
        flex-direction: column;
        padding-left: 5px;
    }
    .about__text{
        width: 380px;
    }
    .about__column-right{
        width: 380px;
    }
    .about__column-right img{
        padding-left: 20px;
        width: 380px;
    }
    .footer__contant{
        width: 400px;
        padding-left: 20px;
    }
    .footer__logo{

    }
    .footer__contacts{
        transform: translate(-20px, 0px);
        width: 250px;
    }
    .reviev__btn-position{
        margin-top: 1300px;
    }
    .form-container1{
        padding-top: 710px;
    }
    .form-container{
        left: 0;
        text-align: left;
    }
}*/
@media (max-width: 320px){
    .header__columns{
        padding: 0;
    }
    .header__left{
     text-align: center;
     padding: 0;
    }
    .logo{
        margin-top: 0;
    }
    .header__title{
        padding: 0;
    }
    
    .item1{
        width: 300px;
        height: 100%;
    }
    .item2{
        width: 300px;
    }
    .veip{
        width: 100%;
    }
    .header__title{
        width: 300px;
        
    }
    .header__text{
        width: 300px;
        height: 100px;
        padding-left: 25px;
        padding-bottom: 20px;
    }
    .header__btn{
        padding-left: 40px;
    }
    .services{
        width: 300px;
        height: auto;
        padding-bottom: 20px;
    }
    .services__items{
        flex-direction: column;
        padding: 20px 15px;
    }
    .services__item{
        padding-top: 20px;
    }
    .services__menu{
        display: flex;
        flex-direction: column;
    }
    .sales__container{
        width: 300px;
        padding: 0;
    }
    .sales__title{
        padding: 10px;
    }
    .sales__container-top, .sales__container-bottom{
        
        display: table;
        padding-left: 0px;
        
    }
    .salesimg1{
        width: 70%;
        padding-left: 10px;
    }
    .salesimg2{
        width: 36%;
        padding-left: 10px;
        padding-bottom: 15px;
    }
    .test{
        width: 300px;
        height: 100%;
    }
    .test__box{
        width: 300px;
        overflow: hidden;
    }
    .revievs__title{
        padding: 10px;
        margin: 0;
    }
    .revievs__container{
        width: 300px;
        flex-direction: column;
        padding-left: 10px;
       
    }
    .reviev__btn-position{
        padding-top: 40%;
    }
    .container__item1{
        width: 280px;
        height: 130px;
        padding: 10px 5px;
        margin-bottom: 10px;
    }
    .container__item2{
        width: 280px;
        height: 180px;
        margin: 0;
        padding: 5px;
    }
    .revievs__container-left{
        width: 280px;
    }
    .revievs__container-right{
        width: 280px;
        height: 100%;
        margin: 0;
        margin-top: 10px; 
        padding: 5px;
    }
    .work{
        width: 300px;
        
    }
    .testimg{
        width: 100%;
    }
    .work__container{
        width: 300px;
        overflow: hidden;
    }
    .work__columns{
        flex-direction: column;
        max-width: 300px;
        padding-left: 0;
    }
    .work__columns-left{
        width: 140px;
        height: 150px;
    }
    .work__columns-right{
        padding-top: 0px;
    }
    .work__item{
        width: 140px;
        height: 150px;
        
    }
    .work__text{
        margin-left: 10px;
        width: 280px;
    }
    .discount__columns{
        width: 300px;
        height: 100%;
    }
    .pict2{
        width: 500px;
        transform: translate(-100px, 0);
    }
    .discount__left{
        width: 140px;
        margin: 0;
        padding: 0;
    }
    .discount__right{
        width: 140px;
        height: 200px;
        transform: translate(-180px, -200px);
    }
    .discount__title{
        width: 300px;
    }
    .discount__info{
        width: 290px;
    }
    .about__columns{
        width: 300px;
        flex-direction: column;
        padding-left: 5px;
    }
    .about__text{
        width: 280px;
        height: 280px;
    }
    .about__column-right{
        width: 300px;
    }
    .about__column-right img{
        padding-left: 20px;
        width: 300px;
    }
    .footer__contant{
        width: 300px;
        padding-left: 10px;
    }
    .footer__logo{
        padding-top: 20px;
    }
    .footer__contacts{
        transform: translate(-0px, 0px);
        width: 330px;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
    }
    .footer__telegram{
        width: 250px;
        padding: 0;
    }
    .reviev__btn-position{
        margin-top: 1300px;
    }
    .form-container1{
        padding-top: 710px;
    }
    .form-container{
        left: 0;
        text-align: center;
        width: 300px;
    }
}